{% include "header.html" %}

 <!-- Title -->
<section id="title" class="gradient-background">
    <div class="px-4 py-5 my-5 text-center">
        <img class="img-fluid rounded-circle" src="{{ url_for('static', filename='assets/img/thorfinn.jpg') }}" alt="Profile Image" style="width: 120px; height: 120px;">
        <h1 class="display-5 fw-bold text-body-emphasis">Front-end Development</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Hi. I'm Lakshan, A Web Developer with 2 years commercial experience creating successful websites.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          </div>
        </div>
    </div>
</section>

        <!-- Features -->
<section id="features" class="features">
      <div class="container px-4 py-5" id="featured-3">
        <div class="row g-5 py-5 row-cols-1 justify-content-center row-cols-md-2">
          <div class="feature col">
            <h3 class="fs-2 text-body-emphasis">Front-end development</h3>
            <p>Responsive websites built for an optimal user experience that achieves your business goals.</p>
            <a href="{{ url_for('portfolio') }}" class="icon-link">
              Click here To know more
            </a>
          </div>
          <div class="feature col">
            <h3 class="fs-2 text-body-emphasis">Automation Testing</h3>
            <p>Robot Framework is an open-source automation testing tool that uses a keyword-driven approach, making it user-friendly and suitable for testers with varying levels of programming knowledge.</p>
            <a href="{{ url_for('testing') }}" class="icon-link">
                Click here To know more
            </a>
          </div>
        </div>
      </div>
</section>

      <!-- Portfolio  -->
<section id="portfolio" class="portfolio">
      <div class="px-4 py-5 my-5 text-center">
        <h2 class="align-center index-module--sectionTitle--2gNoV">Featured Work</h2>

            <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5" style="padding-left: 2rem;">
              <div class="col d-flex flex-column align-items-start gap-2">
                <h2 class="fw-bold text-body-emphasis">Robot Framework</h2>
                <p class="text-body-secondary">Robot Framework is highly extensible and allows the integration of libraries like Selenium, Appium, and RESTInstance to enhance its functionality.</p>
                <a href="#" class="btn btn-primary btn-lg">To know more</a>
              </div>

              <div class="col">
                <div class="row row-cols-1 row-cols-sm-2 g-4" style="padding-right: 2rem;">
                  <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                      <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#collection"></use>
                      </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Streamlining Automation with Robot Framework</h4>
                    <p class="text-body-secondary">This highlights how Robot Framework simplifies and accelerates automation testing by providing an easy-to-use, keyword-driven approach, allowing teams to create, execute, and manage tests efficiently.</p>
                  </div>

                  <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                      <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#gear-fill"></use>
                      </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Simplify Testing Workflows with Robot Framework</h4>
                    <p class="text-body-secondary">This emphasizes how Robot Framework makes testing processes smoother by enabling reusable test cases, integration with tools, and a clear structure, leading to reduced complexity in automation workflows.</p>
                </div>
                </div>
              </div>
            </div>
      </div>
</section>



{% include "footer.html" %}
