<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe & Wifi Website</title>
    <!-- Load Bootstrap-Flask CSS here -->
    {{ bootstrap.load_css() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>
<body>
 <!-- Header  -->
    <div class="container-fluid">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4"><b>Cafe & Wifi Website </b></span>
              </a>
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
          </div>

          <div class="col-md-3 custom-login-area">
          {% if not current_user.is_authenticated: %}
            <a href="{{ url_for('login') }}" class="btn btn-outline-primary me-3">Login</a>
            <a href="{{ url_for('register') }}" class="btn btn-primary">Sign-up</a>
          {% else: %}
              <a href="{{ url_for('logout') }}" class="btn btn-primary">Log-Out</a>
          {% endif %}
          </div>
        </header>
      </div>

</body>
</html>