{% include "header.html" %}

  <div class="container text-center mb-4">
    <h1 class="text-primary">Welcome to the Cafe & Wi-Fi Website</h1>
  </div>
  {% for cafe in cafes %}
  <div class="container">
    <div class="content-box d-flex align-items-center justify-content-center gap-5 flex-wrap p-5 bg-white rounded shadow">
      <p class="fs-4 fw-bold m-0">{{ cafe.name }}</p>
      <img src="{{ cafe.img_url }}" alt="Cafe Image" width="300" height="200" class="rounded">
    </div>
  </div>
  {% endfor %}
</body>
</html>

{% include "footer.html" %}
