<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cafe & Wifi Website</title>
  <!-- Load Bootstrap-Flask CSS here -->
    {{ bootstrap.load_css() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>
<body class="bg-light py-5">

  <div class="container text-center mb-4">
    <h1 class="text-primary">Welcome to the Cafe & Wifi Website</h1>
  </div>
  {% for cafe in cafes %}
  <div class="container">
    <div class="content-box d-flex align-items-center justify-content-center gap-5 flex-wrap p-5 bg-white rounded shadow">
      <p class="fs-4 fw-bold m-0">{{ cafe.name }}</p>
      <img src="{{ cafe.img_url }}" alt="Cafe Image" width="300" height="200" class="rounded">
    </div>
  </div>
  {% endfor %}
</body>
</html>
