{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hi, I’m Lakshan S, an aspiring Software Developer passionate about creating innovative solutions and building impactful software. Currently working on honing my skills in development, I’m on a journey to transform my passion for technology into a thriving career.</p>
                        <p>When I’m not coding or learning new tech, you’ll often find me running or sprinting, enjoying the adrenaline rush and the discipline it brings to my life. These activities fuel my drive and determination, both on and off the track.</p>
                        <p>My ultimate goal? To achieve success and financial freedom while doing what I love. I believe in working hard, staying focused, and embracing every challenge as an opportunity to grow.</p>
                    </div>
                </div>
            </div>
        </main>

{% include "footer.html" %}